* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c2c2d6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 294px;
  border: 2px solid #47476b;
  padding: 5px;
  position: relative;
  background: black;
}

.formula {
  min-height: 20px;
  width: 100%;
  font-size: 20px;
  color: orange;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.outputScreen {
  width: 100%;
  font-size: 29px;
  color: white;
  text-align: right;
  line-height: 35px;
}

.btn {
  position: relative;
  width: 70px;
  height: 65px;
  color: #fff;
  border: none;
  font-size: 20px;
  outline: 1px solid black;
  background: #4d4d4d;
  font-family: 'Share Tech Mono', monospace;
}

.btn:hover {
  color: black;
  outline: 0.05em solid grey;
  z-index: 3;
}

.clear-btn {
  background: #ac3939;
  width: 140px;
}

.equals-btn {
  background: #004466;
  height: 130px;
  position: absolute;
}

.operator {
  background: rgb(102, 102, 102);
}

.zero {
  width: 140px;
}
